*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.content-header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;

}

.content-header .tag{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.content-header .tag a{
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem 2rem;
    font-weight: 500;
    background-color: #D28C24;
    border-radius: 50px;
    color: #fff;

}
.header-head{
    font-size: 2.5rem;
    font-weight: 700;
    padding: 1rem;
    text-align: center;
    color: #D28C24;
}


.header-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}



/* all */
.wrapper-header{
    font-size: 1.5rem;
    font-weight: 700;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo .pokemon{
    width: 100%;
    max-width: 200px;
    cursor: pointer;
}


/* CARD-1 */

.card-header-1{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 1rem;
    padding-top: 5rem;
    height: 100%;
}



.header-1{
    width: 90%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3F32D6;
    border-radius: 10px;
    padding: 0rem 3rem;
    box-shadow: 3px 5px 10px #363636;
}

.header-1 .nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.header-1 .nav-list a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
    font-weight: 500;
    letter-spacing: 1px;
}

.header-1 .nav-list  #contact{
    background-color: #D28C24;
    padding: 1rem 2rem;

}


.header-1 .nav-list a::after{
    position: absolute;
    content: '';
    background-color: #fff;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}

.header-1 .nav-list a:hover::after{
    width: 100%;
}


#toggle{
    display: none;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width:1070px){

    .header-1 .nav-list{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 7rem;
        top: 9rem;
       
    }

     #toggle{
        display: flex;
        margin-top: 1rem;

    }

    
.header-1{
    align-items: flex-start;
    padding: 0rem 3rem;
    box-shadow: 3px 5px 10px #363636;
    overflow: hidden;
    padding-top: 2rem;
    position: relative;
    transition: 500ms;
    height: 8rem;
}




.logo .pokemon{
    width: 100%;
    max-width: 100px;
}

   
}

@media screen and (max-width:600px){
 .header-head{
        font-size: 2rem;
    }
   
    
}

