.card-header-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 1rem;

 
}

.header-4{
    width: 90%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #3F32D6;
    padding: 0rem 3rem;
    box-shadow: 3px 5px 10px #2525257e;

}


.header-4 .nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-left: auto;
    right: 2rem;
    position: relative;
}
.header-4 .nav-list a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    position: relative;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}



.header-4 .nav-list a:hover{
   transform: translateY(-5px);
}

.button-4{
    color: #fff;
    background-color: #D28C24;
    width: 10rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
    transition:  0.5s;

   
}

.button-4::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: 0.5s;

    z-index: -1;

}



.button-4:hover::after{
    margin-left: 2rem;
    margin-top: 1rem;

}



.header-4 .box-res-icon #icon-open{
    display: none;
}

#icon-open{
    width: 2rem;
}

.fancy {
    background-color: #fff;
    border: 2px solid #D28C24;
    border-radius: 0;
    box-sizing: border-box;
    color: #D28C24;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: #D28C24;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: #D28C24;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: nene;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: none;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: #D28C24;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: #D28C24;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }


@media screen and (max-width:1270px){
    
    .header-4 .box-res-icon #icon-open{
        display: flex;
        color: #fff;
    }
    
    .header-4 .nav-list{
        flex-direction: column;
        gap: 1rem;
        display: none;
    }
    
    .header-4 .box-res-icon{
        flex-direction: column;
    }
    .fancy{
        display: none;
    }
    }
