.footer-5{
    width: 90%;
    height: auto;
    background-color: #3F32D6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 5rem 3rem 5rem;
    gap: 1rem;
    position: relative;
}

.footer-5 .head{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-5 .head svg{
    width: 4rem;
    color: #fff;
}

.footer-5 .head .name{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

.footer-5 .head .name span{
    color: #D28C24;
}

.footer-5 .list-icon-social{
    display: flex;
    gap: 2rem;
}

.footer-5 .list-icon-social svg{
    color: #fff;
    width: 2rem;
}

.footer-5 .design-build, .footer-5 .legal-content{
    color:#ffff;
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
}



@media screen and (max-width:500px){
    .footer-5{
        width: 90%;
        height: auto;
        background-color: #3F32D6;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 6rem 2rem 3rem 2rem;
        gap: 1rem;
    }
}

